{{#if synced}}
    <div class="row detail-header">
        <div class="col-md-8">
            <h3>{{ elb.loadBalancerName }}</h3>
        </div>
         <div class="col-md-4 button-container">
            <a class="btn btn-default" data-service-id="{{ service.id }}" data-action="viewJSON">
                JSON
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                {{#if elb.healthCheck.target}}
                    <li class="list-group-item"><strong>Health Check:</strong> {{ elb.healthCheck.target }}</li>
                {{/if}}
                {{#if elb.healthCheck.interval}}
                    <li class="list-group-item">Interval <span class="badge">{{ elb.healthCheck.interval }}</span></li>
                {{/if}}
                {{#if elb.healthCheck.timeout }}
                    <li class="list-group-item">Timeout <span class="badge">{{ elb.healthCheck.timeout }}</span></li>
                {{/if}}
                {{#if elb.healthCheck.unhealthyThreashold}}
                    <li class="list-group-item">Unhealthy Threshold <span class="badge">{{ elb.healthCheck.unhealthyThreashold }}</span></li>
                {{/if}}
                {{#if elb.healthCheck.healthyThreshold}}
                    <li class="list-group-item">Healthy Threshold <span class="badge">{{ elb.healthCheck.healthyThreshold }}</span></li>
                {{/if}}
            </ul>
        </div>
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item"><strong>DNS Name:</strong> {{elb.dnsname}}</li>
                <li class="list-group-item"><strong>Hosted Zone Name:</strong> {{elb.canonicalHostedZoneName}}</li>
                <li class="list-group-item"><strong>Hosted Zone ID:</strong> {{elb.canonicalHostedZoneNameID}}</li>
                <li class="list-group-item"><strong>VpcID:</strong> {{ elb.vpcid }}</li>
                <li class="list-group-item"><strong>Created:</strong> {{timestampFromNow elb.createdTime}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h4>Instances</h4>
            <ul class="list-group">
                {{#each elb.instances}}
                    <li class="list-group-item">
                        {{instanceId}}
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Availability Zones</h4>
            <ul class="list-group">
                {{#each elb.availabilityZones}}
                    <li class="list-group-item">
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Security Groups</h4>
            <ul class="list-group">
                {{#each elb.securityGroups}}
                    <li class="list-group-item">
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Subnets</h4>
            <ul class="list-group">
                {{#each elb.subnets}}
                    <li class="list-group-item">
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>

    </div>
{{else}}
    <div class="page-loader centered cushy"></div>
{{/if}}
