<table class="table table-striped elbs-table paginated">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>DNS Name</th>
            <th>VPC ID</th>
            <th>Instance Count</th>
            <th class="hidden-xs">{{! Actions column }}</th>
        </tr>
    </thead>
    <tbody>
        {{#each elbs}}
            <tr data-elb-name="{{ loadBalancerName }}">
                <td class="icons-column hidden-xs">
                    {{#if instances}}
                        {{#ifEqual instanceCount 1}}
                            <span title="1 registered instance" class="glyphicon glyphicon-ok-circle active"></span>
                        {{else}}
                            <span title="{{instanceCount}} registered instances" class="glyphicon glyphicon-ok-circle active"></span>
                        {{/ifEqual}}
                    {{else}}
                        <span title="No registered instances" class="glyphicon glyphicon-ban-circle inactive"></span>
                    {{/if}}
                </td>
                <td>
                    <a title="{{ loadBalancerName }}" href="{{appRoot}}/elbs/{{ loadBalancerName }}">
                        {{ loadBalancerName }}
                    </a>
                </td>
                <td>{{ dnsname }}</td>
                <td>{{ vpcid }}</td>
                <td>{{ instanceCount }}</td>
                <td class="actions-column hidden-xs">
                    <a data-action="viewJSON" title="JSON">
                        { }
                     </a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>


