{{#if synced}}
    <div class="row">
        <h2>Load-Balancer Groups</h2>
        {{#each lbGroups}}
            <div class="col-md-3">
                <ul class="list-group">
                    {{#each this}}
                        <li class="list-group-item">
                            <a title="{{ this }}" href="{{appRoot}}/groups/{{ this }}">
                                {{ this }}
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/each}}
    </div>
{{else}}
    <div class="page-loader centered cushy"></div>
{{/if}}
