{{#if synced}}
    {{#if group.name }}
        <div class="row">
            <div class="col-md-4">
                <h3>Group: {{ group.name }}</h3>
            </div>
            <div class="col-md-5">
                <h3>Default Domain: <a href="http://{{ group.defaultDomain }}">{{ group.defaultDomain }}<a/></h3>
            </div>
            {{#if targetCount.count}}
                <div class="col-md-3">
                    <h3>Target Count: {{ targetCount.count }} {{#if config.allowEdit }} <a data-action="updateTargetCount"><span class="glyphicon glyphicon-edit"></span></a>{{/if}}</h3>
                </div>
            {{/if}}
        </div>
    {{/if}}
    {{#if group.splitDomains}}
        <div class="row">
            <div class="col-md-12">
                <h4>Domains Served</h4>
                {{#each group.splitDomains}}
                    <div class="col-md-3">
                        <ul class="list-group">
                            {{#each this}}
                                <li class="list-group-item">{{this}}{{#ifEqual this ../../group.defaultDomain}}<span class="label label-info pull-right">Default</span>{{/ifEqual}}</li>
                            {{/each}}
                        </ul>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
    {{#if group.sources}}
        <div class="row">
            <div class="col-md-12">
                <h4>Traffic Sources</h4>
                {{#each group.splitSources}}
                    <div class="col-md-3">
                        <ul class="list-group">
                            {{#each this}}
                                <li class="list-group-item">
                                    {{#if ../../config.allowEdit}}
                                        <span class="badge" data-action="removeSource" title="Remove Traffic Source">
                                            <span class="glyphicon glyphicon-remove" data-name="{{ name }}" data-type="{{ type }}"></span>
                                        </span>
                                        <ul class="list-unstyled">
                                          <li>Name: {{name}}</li>
                                          <li>Type: {{type}}</li>
                                        </ul>
                                    {{else}}
                                        <ul class="list-unstyled">
                                          <li>Name: {{name}}</li>
                                          <li>Type: {{type}}</li>
                                        </ul>
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                {{/each}}
                {{#if config.allowEdit }}
                    <a class="btn btn-primary" data-action="addSource" title="Add Traffic Source">+ Add Traffic Source</a>
                {{/if}}
            </div>
        </div>
    {{else}}
        {{#if config.allowEdit }}
            <h4>Traffic Sources</h4>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary" data-action="addSource" title="Add Traffic Source">+ Add Traffic Source</a>
                </div>
            </div>
        {{/if}}
    {{/if}}
    <div class="row">
        <div class="col-md-5">
            <h4>Active Agents</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Base Uri</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each agents}}
                        <tr data-agent-id="{{ agentId }}">
                            <td>{{ agentId }}</td>
                            <td><a href="{{ baseAgentUri }}/status">{{ baseAgentUri }}</a></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-md-7">
            <h4>All Known Agents</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Base Uri</th>
                        <th>Last Seen</th>
                        <th class="hidden-xs">{{! Actions column }}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each knownAgents}}
                        <tr data-agent-id="{{ agentId }}">
                            <td>{{ agentId }}</td>
                            <td><a href="{{ baseAgentUri }}/status">{{ baseAgentUri }}</a></td>
                            <td>{{timestampFromNow lastSeenAt }}</td>
                            <td>
                                {{#if ../config.allowEdit}}
                                    <a data-action="remove" title="Remove Known-Agent">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Base Paths</h4>
            {{#each basePaths.splitPaths}}
                <div class="col-md-3">
                    <ul class="list-group">
                        {{#each this}}
                            <li class="list-group-item">
                                {{#if ../../config.allowEdit}}
                                    <a data-action="removeBasePath" title="Remove Base Path Lock">
                                        <span class="glyphicon glyphicon-remove" data-base-path="{{this}}"></span>
                                    </a>
                                {{/if}}
                                {{#if ../../group.defaultDomain }}
                                    <a target="_blank" href="http://{{ ../../../group.defaultDomain }}{{ this }}">{{ this }}</a>
                                {{else}}
                                    {{ this }}
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/each}}
        </div>
    </div>
{{else}}
    <div class="page-loader centered cushy"></div>
{{/if}}
