{{#if synced}}
    <div class="row">
        <div class="col-md-6">
            <h2>Load-Balancer Groups</h2>
            <ul class="list-group">
                {{#each lbGroups}}
                    <li class="list-group-item">
                        <a title="{{ this }}" href="{{appRoot}}/groups/{{ this }}">
                            {{ this }}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
{{else}}
    <div class="page-loader centered cushy"></div>
{{/if}}
