<table class="table table-striped services-table paginated">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Base Path</th>
            <th>Groups</th>
            <th>Upstreams</th>
            <th class="hidden-xs">{{! Actions column }}</th>
        </tr>
    </thead>
    <tbody>
        {{#each services}}
            <tr data-service-id="{{ service.serviceId }}">
                <td class="icons-column hidden-xs">
                    {{#if active}}
                        {{#ifEqual upstreamsCount 1}}
                            <span title="1 Active Upstream" class="glyphicon glyphicon-ok-circle active"></span>
                        {{else}}
                            <span title="{{upstreamsCount}} Active Upstreams" class="glyphicon glyphicon-ok-circle active"></span>
                        {{/ifEqual}}
                    {{else}}
                        <span title="No Active Upstreams" class="glyphicon glyphicon-ban-circle inactive"></span>
                    {{/if}}
                </td>
                <td>
                    <a title="{{ id }}" href="{{appRoot}}/services/{{ id }}">
                        {{ id }}
                    </a>
                </td>
                <td>{{ service.serviceBasePath }}</td>
                <td>
                    {{#each service.loadBalancerGroups }}
                        <a title="{{ this }}" href="{{appRoot}}/groups/{{ this }}">{{ this }}</a>
                    {{/each}}
                </td>
                <td>{{ upstreamsCount }}
                <td class="actions-column hidden-xs">
                    {{#if ../config.allowEdit}}
                        {{#ifGreaterThan upstreamsCount 0}}
                            <a data-action="reload" title="Reload Configs">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </a>
                            <a data-action="removeUpstreams" title="Remove Upstreams">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </a>
                        {{/ifGreaterThan}}
                        <a data-action="delete" title="Delete Service">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    {{/if}}
                    <a data-action="viewJSON" title="JSON">
                        { }
                    </a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>


