{{#if synced}}
    <div class="row">
        <div class="col-md-6">
            <h2>Overview</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">{{ status.pendingRequestCount }}</span>
                    Pending Requests
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ status.workerLagMs }} ms</span>
                    Worker Lag
                </li>
                <li class="list-group-item">
                    <span class="progress-value">Global ZK State Node Size {{humanizeFileSize status.globalStateNodeSize}} used of 1 MB limit</span>
                    <div class="progress">
                        <span class="progress-bar progress-bar-info progress-bar-striped" style="width: {{roundedPercentage status.globalStateNodeSize 1048576}}%;"></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>BaragonService Workers</h2>
            <ul class="list-group">
                {{#each workers}}
                    <li class="list-group-item">
                        {{ this }}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
{{else}}
    <div class="page-loader centered cushy"></div>
{{/if}}
